// Importing ENTIRE Bootstrap SCSS file. 
// Or, better yet import only what is necessary for your build..below...
// @import '~bootstrap/scss/bootstrap';


// @import "mixins/banner";
// @include bsBanner("");


// scss-docs-start import-stack
// Configuration
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";



// 2. Include any default variable overrides here
// You will find the complete list of Bootstrap’s variables in scss/_variables.scss. 
// Some variables are set to null, these variables don’t output the property unless they are overridden in your configuration.
// Variable overrides must come after our functions are imported, but before the rest of the imports.

// $body-bg: #000;
// $body-color: #111;


// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables
// scss-docs-start color-variables
$blue:    #374b89 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #B61C4D !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #007939 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;


// MONA SANS FOR BODY COPY
// HUBOT SANS FOR HEADERS & PULL-QUOTES
@font-face {
    font-family: 'Mona Sans';
    src:
        url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
@font-face {
    font-family: 'Hubot Sans';
    src:
        url('../fonts/Hubot-Sans/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('../fonts/Hubot-Sans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, 
.fs-1, .fs-2, .fs-3, .fs-4, .fs-5, .fs-6 
 {
    font-family: 'Hubot Sans';
}

// $font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-sans-serif:      Oxygen, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// $headings-font-family:        null !default;
// $display-font-family:         null !default;
// $input-btn-font-family:       null !default;
// $btn-font-family:             $input-btn-font-family !default;
// $input-font-family:           $input-btn-font-family !default;
// $form-select-font-family:     $input-font-family !default;

// To switch the global font-family, update $font-family-base and recompile Bootstrap.
// $font-family-base:            var(--#{$prefix}font-sans-serif) !default;
$font-family-base:            "Mona Sans" !default;












// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";



// 4. Include any default map overrides here



// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";



// Layout & components
// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack

// 8. Add additional custom code here

